<div class="modal strap-gallery-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>

            <div class="modal-body">
                <div class="strap-gallery-img-outer">
                    <div class="arrow next" ng-click="next()"><span class="glyphicon glyphicon-chevron-right"></span></div>
                    <div class="arrow prev" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span></div>
                    <img class="strap-gallery-img" id="strap-gallery-img" ng-src="{{ src }}" src="//:0">
                </div>
            </div>
            <div class="modal-footer">
                {{ currentId + 1 }} из {{ imagesCount }}
            </div>
        </div>
    </div>
</div>
